.ProductDetail {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ProductDetail .card {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    background: white;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    align-items: center;
    height: fit-content;
    max-width: 700px;
  }

  .ProductDetail .card img {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-right: 30px;
  }

  .ProductDetail .card .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .ProductDetail .card .title h3 {
    font-size: 30px;
  }

  .ProductDetail .card .description {
    text-align: justify;
    font-size: 18px;
  }

  .ProductDetail .card .price {
    border-radius: 5px;
    padding: 8px 12px;
    background: #00c98e;
    color: black;
  }

  .ProductDetail .quantity {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}
  
.ProductDetail .material-icons {
    font-size: 18px;
    color: black;
}
  
.ProductDetail .material-icons:hover {
    cursor: pointer;
    color: #00c98e;
}