.Product {
    border: 1px solid rgb(202, 202, 202);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
}
  
.Product:hover {
    cursor: pointer;
    border-color: #00c98e;
}
  
.Product img {
    width: 160px;
    height: 160px;
    border-radius: 6px;
    position: relative;
}
  
.Product .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
}

.Product .quantity {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}
  
.Product .material-icons {
    font-size: 18px;
    color: black;
}
  
.Product .material-icons:hover {
    color: gray;
}